// Core variables and mixins
@import "src/sass/variables"; // MODIFIED
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pager";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/badges";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/media";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/wells";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

// Custom Mixins
@import "src/sass/mixin/offset-classes";

@include optional-offset-classes("", 0 3 6 9 12 15 18 21 24);

@media (min-width: $screen-sm-min) {
	@include optional-offset-classes("sm", 0 3 6 9 12 15 18 21 24);
}

@media (min-width: $screen-md-min) {
	@include optional-offset-classes("md", 0 3 6 9 12 15 18 21 24);
}

@media (min-width: $screen-lg-min) {
	@include optional-offset-classes("lg", 0 3 6 9 12 15 18 21 24);
}

caption {
	background-color: #629833;
	color: #fff;
}


.nav-tabs>li>a {
	color: #333;
	background-color: #BCE498;
	border-radius: 0 0 4px 4px;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:active {
	color: #fff;
	border-color: #629833;
}

.nav>li>a:focus, 
.nav>li>a:hover,
.nav>li>a:active {
	color: #fff;
	background-color: #629833;
}


.nav-tabs-top {
  border-top: 1px solid #ddd;
  border-bottom: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: 0;
}

.bg-white {
    background-color: #fff;
}
